<div class="card shadow rounded-0">
  <div class="card-body">
    <% questions.each do |question| %>
    <h4 class="font-weight-bold font-16 text-primary"><%= question.title %></h4>
    <p class="lead font-14"><%= question.answer %></p>
    <hr>
    <% end %>
  </div>
</div>