<div class="container">
  <div class="row mt-5 mb-5">
    <div class="col-md-3">
      <% @categories.each do |category| %>
        <div class="list-group shadow">
          <%= link_to category.name, category, class: "list-group-item list-group-item-action rounded-0" %>
        </div>
      <% end %>
      <%= link_to 'New Question', new_question_path, class: "btn btn-primary mt-5" %> 
    </div>
    <div class="col-md-7">
      <div id="questions_index">
        <div class="card shadow rounded-0">
          <div class="card-body">
            <% @questions.each do |question| %>
            <h4 class="font-weight-bold font-16 text-primary"><%= question.title %></h4>
            <p class="lead font-14"><%= question.answer %></p>
            <hr>
            <% end %>
          </div>
        </div>
      </div>
      <select id="load" class="mt-5 form-control ">
        <option value="10">Showing first 10</option>
        <option value="50">Show 50</option>
        <option value="100">Show 100</option>
        <option value="250">Show 250</option>
        <option value="All">Show all</option>
      </select>
    </div>
    <div class="col-md-2"> 
    </div>
  </div>
</div>

<script type="text/javascript">
  $(function($) {
    $("#load").on('change', function() {
      var count = $('select#load :selected').val();
       $.ajax({
        url: "/questions", 
        type: "GET", 
        data: {value: count}
      });
    });
  })
</script>
