<div class="container">
  <div class="row mt-5 mb-5">
    <div class="col-md-3">
    </div>
    <div class="col-md-7">
      <div class="card">
        <div class="card-body">
          <h4 class="text-center">Upcoming Exams!</h4>
          <p>UPSC official website <a href="https://govtjobs2019.in/government-jobs-updates/"> https://upsc.gov.in</a></p>
          <a style="color: #ff9900;" name="free_job_alerts_in_email" href="http://www.freejobalert.com/get-free-job-alerts-in-your-email-subscribe-now/" target="_self">
            <span style="color: #ff9900;">
              <span style="font-weight: bold; color: #3333ff;">
                Coming
                <span style="color: red;">Exams</span>
                in 2020
              </span>
            </span>
          </a>
          <p class="mt-4">
            <a href="https://govtjobs2019.in/government-jobs-updates/">
              <span>Government jobs updates</span>
            </a>
          </p>
          <a class="D7VqAe LwS2ce" href="http://madhya-pradesh.20govt.com/mppsc-recruitment-2015-2016-jobs-vacancies-notification/?utm_campaign=google_jobs_apply&amp;utm_source=google_jobs_apply&amp;utm_medium=organic" title="Apply on MP Govt Jobs" target="_blank" jsaction="fire.tl_ap_direct_clk" data-ved="0ahUKEwis5-2llLrmAhUiwjgGHax5B2EQpowCCKoDKAAwAA">Apply on MP Govt Jobs</a>
          <p class="mt-4">
            <a href="https://gradeup.co/liveData/f/2019/11/mppsc_2019_notification_51.pdf" target="_blank" rel="noopener">MPPSC State Services Exam 2019-20 Notification</a>
          </p>
          
        </div>
      </div>
    </div>
  </div>
</div>
