<footer class="footer footer-visitor">
  <div class="container copyright mr-5">
    <div class="container-fluid row">
      <div class="col-md-4 col-xl-offset-1">
        <h2 class="m-0-bottom text-uppercase">Company</h2>
        <ul class="list-unstyled">
          <li><a href="#">About Us</a></li>
          <li><a href="#">href-Investor Relations</a></li>
          <li><a href="#">Careers</a></li>
          <li><a href="#">Press</a></li>
          <li><a href="#">Trust & Safety</a></li>
          <li><a href="#">Terms of Service</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Accessibility</a></li>
        </ul>
      </div>
      <div class="col-md-4 col-xl-offset-1">
        <h2 class="m-0-bottom text-uppercase">Resources</h2>
        <ul class="list-unstyled">
          <li><a href="#">Customer Support</a></li>
          <li><a href="#">Hiring Headquarters</a></li>
          <li><a href="#">Hiring Resources</a></li>
          <li><a href="#">Upwork Blog</a></li>
          <li><a href="#">Customer Stories</a></li>
          <li><a href="#">Business Resources</a></li>
          <li><a href="#">Payroll Services</a></li>
        </ul>
      </div>
      <div class="col-md-4 col-xl-offset-1">
        <h2 class="m-0-bottom text-uppercase">BROWSE</h2>
        <ul class="list-unstyled">
          <li><a href="#">Aptitude Qusetion</a></li>
          <li><a href="#">Find Questions</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container">
    <hr>
    <h2 class="">Follow us</h2>
      <ul class="list-inline">
        <li class="list-inline-item">
          <a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
        </li>
        <li class="list-inline-item">
          <a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
        </li>
        <li class="list-inline-item">
          <a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
        </li>
        <li class="list-inline-item">
          <a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
        </li>
      </ul>
    <hr>
  </div>  
</footer>

<style>
.footer-visitor {
  flex: none;
  margin-top: auto;
  padding-top: 30px;
  color: #fff;
  background-color: #1d4354;
}
.footer-visitor h2 {
  font-weight: 500;
  line-height: 15px;
  font-size: 1rem;
}
.footer-visitor a, .footer-visitor h2, .footer-visitor p {
  color: #fff;
  font-size: 13px;
}
.container-visitor {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}
@media (min-width: 1200px){
  .container-visitor {
    width: 1170px;
    color: black;
  }
}
</style>