<footer class="footer footer-visitor">
  <div class="container copyright mr-5">
    <div class="container-fluid row">
      <div class="col-md-4 col-xl-offset-1">
        <h2 class="m-0-bottom text-uppercase">Company</h2>
        <ul class="list-unstyled">
          <li><a href="#">About Us</a></li>
          <li><a href="#">href-Investor Relations</a></li>
          <li><a href="#">Careers</a></li>
          <li><a href="#">Press</a></li>
          <li><a href="#">Trust & Safety</a></li>
          <li><a href="#">Terms of Service</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Accessibility</a></li>
        </ul>
      </div>
      <div class="col-md-4 col-xl-offset-1">
        <h2 class="m-0-bottom text-uppercase">Resources</h2>
        <ul class="list-unstyled">
          <li><a href="#">Customer Support</a></li>
          <li><a href="#">Hiring Headquarters</a></li>
          <li><a href="#">Hiring Resources</a></li>
          <li><a href="#">Upwork Blog</a></li>
          <li><a href="#">Customer Stories</a></li>
          <li><a href="#">Business Resources</a></li>
          <li><a href="#">Payroll Services</a></li>
        </ul>
      </div>
      <div class="col-md-4 col-xl-offset-1">
        <h2 class="m-0-bottom text-uppercase">BROWSE</h2>
        <ul class="list-unstyled">
          <li><a href="#">Aptitude Qusetion</a></li>
          <li><a href="#">Find Questions</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container">
    <hr>
    <div class="row">
      <div class="col-md-6"> 
        <h2>Follow us</h2>
        <ul class="list-inline index">
          <li class="list-inline-item">
            <a href="#"><i class="fa fa-facebook-circle" aria-hidden="true"></i></a>
          </li>
          <li class="list-inline-item">
            <a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
          </li>
          <li class="list-inline-item">
            <a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
          </li>
          <li class="list-inline-item">
            <a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
          </li>
        </ul>     
      </div>
      <div class="col-md-6">
        <h2 class="right">Mobile App</h2>
        <ul class="list-inline index list">
          <li class="list-inline-item">
            <a href="#"><i class="fa fa-apple" aria-hidden="true"></i></i></a>
          </li>
          <li class="list-inline-item">
            <a href="#"><i class="fa fa-android" aria-hidden="true"></i></a>
          </li>
        </ul>  
      </div>
    </div>
    <hr>
    <div class="copyright text-center">
      <span>Copyright &copy; AppsImpact HRM 2019</span>
    </div>
  </div>  
</footer>

<style>
.footer-visitor {
  flex: none;
  margin-top: auto;
  padding-top: 30px;
  color: #fff;
  background-color: #1d4354;
}
.footer-visitor h2 {
  font-weight: 500;
  line-height: 15px;
  font-size: 1rem;
}
.footer-visitor a, .footer-visitor h2, .footer-visitor p {
  color: #fff;
  font-size: 13px;
}
.container-visitor {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}
@media (min-width: 1200px){
  .container-visitor {
    width: 1170px;
    color: black;
  }
}
hr{
  border-top: 1px solid rgba(234, 243, 244, 0.11) !important;
}

@media (min-width: 768px){
  .footer-social {
    padding: 9px 0;
    margin-top: 30px;
    border-top: 1px solid #2b5468;
    border-bottom: 1px solid #2b5468; 
  }
}
.index{
  margin-left: 70px;
  margin-top: -27px;
}
@media (min-width: 768px) {
  .footer-social h2 {
    margin-right: 20px;
    font-size: 12px;
  }
}

.mr-5{
  margin-right: 100px;
}
.right{
  margin-left: 400px;
}
.list{
  margin-left: 500px; 
}
</style>