<footer class="footer footer-visitor text-white">
  <div class="container">
    <div class="row pb-3">
      <div class="col-md-12">
        <div class="text-center pr-2 pl-2 payroll-link pb-4">
          <small class="vs-color-gray-light"> Looking to hire for long-term or full-time assignments? See how 
            <a href="javascript:void(0)" class="text-white">
              <u> Upwork Payroll</u> 
            </a> simplifies admin. 
          </small>
        </div>
      </div>
    </div>
    <div class="d-md-block d-none">
      <div class="row pt-2">
        <div class="col-md-10 mx-md-auto">
          <div class="row">
            <div class="col-md-4 col-xl-offset-1">
              <h2 class="text-uppercase font-14">Company</h2>
              <ul class="list-unstyled mt-3">
                <li><a href="#" class="text-white">About Us</a></li>
                <li><a href="#" class="text-white">href-Investor Relations</a></li>
                <li><a href="#" class="text-white">Careers</a></li>
                <li><a href="#" class="text-white">Press</a></li>
                <li><a href="#" class="text-white">Trust & Safety</a></li>
                <li><a href="#" class="text-white">Terms of Service</a></li>
                <li><a href="#" class="text-white">Privacy Policy</a></li>
                <li><a href="#" class="text-white">Accessibility</a></li>
              </ul>
            </div>
            <div class="col-md-4 col-xl-offset-1">
              <h2 class="text-uppercase font-14">Resources</h2>
              <ul class="list-unstyled mt-3">
                <li><a href="#" class="text-white">Customer Support</a></li>
                <li><a href="#" class="text-white">Hiring Headquarters</a></li>
                <li><a href="#" class="text-white">Hiring Resources</a></li>
                <li><a href="#" class="text-white">Upwork Blog</a></li>
                <li><a href="#" class="text-white">Customer Stories</a></li>
                <li><a href="#" class="text-white">Business Resources</a></li>
                <li><a href="#" class="text-white">Payroll Services</a></li>
              </ul>
            </div>
            <div class="col-md-4 col-xl-offset-1">
              <h2 class="text-uppercase font-14">BROWSE</h2>
              <ul class="list-unstyled mt-3">
                <li><a href="#" class="text-white">About Us</a></li>
                <li><a href="#" class="text-white">href-Investor Relations</a></li>
                <li><a href="#" class="text-white">Careers</a></li>
                <li><a href="#" class="text-white">Press</a></li>
                <li><a href="#" class="text-white">Trust & Safety</a></li>
                <li><a href="#" class="text-white">Terms of Service</a></li>
                <li><a href="#" class="text-white">Privacy Policy</a></li>
                <li><a href="#" class="text-white">Accessibility</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>  
    <div class="d-block d-md-none">
      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingTwo" data-toggle="collapse"
            data-parent="#accordion" href="#company" aria-expanded="true"
            aria-controls="company">
            <h2 class="panel-title mb-0 panel-company">
              <a class="collapsed text-white panel-text">
                Company
              </a>
            </h2>
          </div>
          <div id="company" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="panel-body">
              <ul class="list-unstyled" class="collapse">
                <li><a href="#" class="text-white">About Us</a></li>
                <li><a href="#" class="text-white">href-Investor Relations</a></li>
                <li><a href="#" class="text-white">Careers</a></li>
                <li><a href="#" class="text-white">Press</a></li>
                <li><a href="#" class="text-white">Trust & Safety</a></li>
                <li><a href="#" class="text-white">Terms of Service</a></li>
                <li><a href="#" class="text-white">Privacy Policy</a></li>
                <li><a href="#" class="text-white">Accessibility</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingTwo" data-toggle="collapse"
            data-parent="#accordion" href="#resources" aria-expanded="true"
            aria-controls="resources">
            <h2 class="panel-title mb-0">
              <a class="collapsed text-white panel-text">
                Resources
              </a>
            </h2>
          </div>
          <div id="resources" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="panel-body">
              <ul class="list-unstyled" id="demo-2" class="collapse">
                <li><a href="#" class="text-white">Customer Support</a></li>
                <li><a href="#" class="text-white">Hiring Headquarters</a></li>
                <li><a href="#" class="text-white">Hiring Resources</a></li>
                <li><a href="#" class="text-white">Upwork Blog</a></li>
                <li><a href="#" class="text-white">Customer Stories</a></li>
                <li><a href="#" class="text-white">Business Resources</a></li>
                <li><a href="#" class="text-white">Payroll Services</a></li>
              </ul>
            </div>
          </div>
        </div>
         <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingTwo" data-toggle="collapse"
            data-parent="#accordion" href="#browse" aria-expanded="true"
            aria-controls="browse">
            <h2 class="panel-title mb-0">
              <a class="collapsed text-white panel-text">
                Browse
              </a>
            </h2>
          </div>
          <div id="browse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="panel-body">
              <ul class="list-unstyled" id="demo-2" class="collapse">
                <li><a href="#" class="text-white">Aptitude Qusetion</a></li>
                <li><a href="#" class="text-white">Find Questions</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-social">
      <div class="row no-gutters">
        <div class="col-md-6"> 
          <div class="footer-social-icons">
            <h2>Follow us</h2>
            <ul class="list-inline mb-1 pb-3 pb-md-0">
              <li class="list-inline-item">
                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
              </li>
              <li class="list-inline-item">
                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
              </li>
              <li class="list-inline-item">
                <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
              </li>
              <li class="list-inline-item">
                <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
              </li>
            </ul>     
          </div>
        </div>
        <div class="col-md-6">
          <div class="footer-social-icons footer-download">
            <h2>Mobile App</h2>
            <ul class="list-inline  mb-1 pb-3 pb-md-0">
              <li class="list-inline-item">
                <a href="#"><i class="fa fa-apple mb-0" aria-hidden="true"></i></a>
              </li>
              <li class="list-inline-item">
                <a href="#"><i class="fa fa-android" aria-hidden="true"></i></a>
              </li>
            </ul>  
          </div>  
        </div>
      </div>      
    </div>
    <div class="copyright text-center mt-4 pb-5 pt-2">
      <span>Copyright &copy; AppsImpact HRM 2019</span>
    </div>
  </div>
</footer>

<style>
  .footer-visitor {
    flex: none;
    margin-top: auto;
    padding-top: 23px;
    color: #fff;
    background-color: #1d4354;
    margin-bottom: 10px;
  }
  .footer-visitor a, .footer-visitor h2, .footer-visitor p {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.5px;
    line-height: 2.3;
  }
  
  .vs-color-gray-light{
    font-size: 15px;
    color: rgb(224, 224, 224);
  }
  .list-inline-item .fa{
    font-size: 16px;
  }

  @media (min-width: 768px){
    .footer-social {
      padding: 9px 0;
      margin-top: 30px;
      border-top: 1px solid #2b5468;
      border-bottom: 1px solid #2b5468; 
    }
  }
  @media (min-width: 768px){
    .footer-social h2 {
      margin-right: 20px;
      font-size: 12px;
    }
  }  
  @media (max-width: 767px){
    .footer-visitor h2 {
      padding: 20px 0;
      border-top: 1px solid #2b5468;
      text-transform: uppercase;
    }
    .panel-text{
      font-size: 13px !important;
      font-weight: 900; 
    }
    .panel-text:hover{
      text-decoration: none;  
    }
    .footer-social .row{
      display: unset;
    }
    .panel-company{
      border-top: 0px!important;
    }
  }  
  .footer-social ul a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    color: #fff;
    background: #2b5468;
    text-align: center;
    border-radius: 50%;
    text-decoration: none;
  }
  .list-inline>li {
    display: inline-block;
    padding-left: 5px;
  }
  .footer-social .footer-download {
    border-bottom: 1px solid #2b5468;
  }
  @media (min-width: 768px){
    .footer-social .footer-social-icons {
      display: flex;
      align-items: center;
    }  
    .footer-social .footer-download {
      justify-content: flex-end;
      border-bottom: none;
    }   
  }
  .panel-heading  a:before {
     font-family: 'FontAwesome';
     content: "\f107";
     float: right;
     transition: all 0.5s;
     font-size: 27px;
     margin-top: -6px;
  }
  .panel-heading.active a:before {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
    font-size: 27px;
    margin-top: -6px;
  } 
  .payroll-link{
    border-bottom: 1px solid #2b5468;
  }
  a:hover{
    cursor: pointer;
  }
</style>

<script type="text/javascript">
   $('.panel-collapse').on('show.bs.collapse', function () {
    $(this).siblings('.panel-heading').addClass('active');
  });

  $('.panel-collapse').on('hide.bs.collapse', function () {
    $(this).siblings('.panel-heading').removeClass('active');
  });
</script>
