<footer class="sticky-footer bg-white fixed-bottom">
  <div class="container my-auto">
    <div class="card">
      <div class="card-body copyright text-center my-auto">
        <span>Copyright &copy; AppsImpact GK 2019</span>
      </div>      
    </div>
  </div>
</footer>
