body {
  background-color: #e6e6e6;
}
.font-16 {
  font-size:16px !important;
}
.font-14 {
  font-size:14px !important;
}
.list-group-item {
  border-bottom:0px !important;
}
.list-group-item:last-child {
  border-bottom:1px !important;
}
.img-size{
  width: 100%;
}

@media print {
  body {
    background-color: #FFF;
  }
  .hide{
    display: none;
  }
  #container {
    width: auto;
    margin: 0;
    padding: 0;
    border: none;
  }
  
  #line_items {
    page-break-before: always;
  }
  
  #pdf_link {
    display: none;
  }
}