<p id="notice"><%= notice %></p>

<div class="container">
  <div class="card">
    <div class="card-body">
      <p>
        <strong>Name:</strong>
        <%= @category.name %>
      </p>
      <%= link_to 'Back', root_path, class: "btn btn-primary" %>      
    </div>
  </div>

  <div class="row mt-5"> 
    <div class="col-md-12">
      <div class="row">
        <%= render "questions/question_1" %>        
      </div>
    </div>
  </div>     
</div>