<div class="container">
  <div class="row mt-5 mb-5"> 
    <div class="col-md-3">
      <% @categories.each do |category| %>
        <div class="list-group shadow">
          <% if params[:id] == category.slug %>
            <%= link_to category.name, category, class: "list-group-item list-group-item-action rounded-0 active" %>
          <% else %>
            <%= link_to category.name, category, class: "list-group-item list-group-item-action rounded-0" %>
          <% end %>
        </div>
      <% end %>
      <%= link_to 'Download pdf', question_path(format: 'pdf'), class: "btn btn-success mt-5 hide", target: :_blank %>
    </div>
    <div class="col-md-7">
      <% if @category.questions.present? %>
        <div id="questions_index">
          <%= render "questions/question", questions: @category.questions %>
        </div>
      <% else %>
        <div class="alert alert-primary">
          <strong>No Question Available!</strong>
        </div>
      <% end %>
    </div>
    <div class="col-md-2">
    </div>
  </div>
</div>